input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input {
    background: transparent;
    font-size: 25px;
    width: 50px;
    height: 70px;
    padding: 10px;
    margin: 5px;
    border: none;
    border-bottom: 3px solid rgb(109, 188, 253);
    border-radius: 5px 5px 0px 0px;
    transition: background 0.3s ease-in-out;
    text-align: center;
}

input:hover {
    background: rgb(220, 238, 253);
}

input:focus {
    outline: none;
    background: rgb(220, 238, 253);
}

#numbers {
    display: flex;
    justify-content: center;
}

#operations {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px;
    grid-gap: 20px;
}
 
span {
    border-bottom: 3px solid rgb(109, 188, 253);
    padding: 10px;
    margin: 5px;
    border-radius: 5px 5px 0px 0px;
    transition: background 0.3s ease-in-out;
}

span:hover {
    background: rgb(220, 238, 253);
}