@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: rgb(220, 238, 253);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(109, 188, 253);
    font-style: arial;
    padding: 20px;

    & header {
        position: fixed;
        top: 10px;
        left: 10px;
        right: 10px;
    }

    a {
        background: rgb(109, 188, 253);
        color:  rgb(220, 238, 253);
        padding: 5px;
        border: none;
        border-radius: 2px;
        text-decoration: none;
    }

    & #btn-error {
        position: fixed;
        top: 5px;
        right: 5px;
        background: rgb(109, 188, 253);
        color:  rgb(220, 238, 253);
        padding: 5px;
        border: none;
        border-radius: 2px;
        cursor: pointer;
    }

    & #error {
        position: fixed;
        background: rgb(109, 188, 253);
        color:  rgb(220, 238, 253);
        padding: 5px 10px 5px 10px;
        border: none;
        border-radius: 2px;
        display: none;
    }

    & #container {
        font-size: 30px;
        width: 75%;
        height: 75%;
        margin: auto;
        background-color: aliceblue;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & #numbers {
            display: flex;
            justify-content: center;
        }

        & #operations {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin: 40px;
            grid-gap: 20px;
        }

        & span {
            border-bottom: 3px solid rgb(109, 188, 253);
            padding: 10px;
            margin: 5px;
            border-radius: 5px 5px 0px 0px;
            transition: background 0.3s ease-in-out;
        }

        & span:hover {
            background: rgb(220, 238, 253);
        }

        & .btn {
            background:  rgb(220, 238, 253);
            color: rgb(109, 188, 253);
            border: 1px solid rgb(109, 188, 253);
            font-weight: bold;
            cursor: pointer;
            padding: 5px 8px;
            transition: background 0.3s ease-in-out;
            border-radius: 5px;
            font-size: 25px;
        }

        & .btn:hover {
            background-color: rgb(188, 224, 253);
            color: rgb(91, 181, 255);
        }
    }
}

