@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(220, 238, 253);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(109, 188, 253);
    font-style: arial;
    padding: 20px;

    & #container {
        width: 75%;
        height: 75%;
        margin: auto;
        background-color: aliceblue;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        & #count-el {
            font-family: "Playwrite NZ Basic", cursive;
            font-size: 150px;
            padding: 10px;
        }

        & .btn {
            font-size: 20px;
            font-family: "Inter", sans-serif;
            font-weight:bold;
            padding: 10px;
            background-color: aliceblue;
            color: rgb(109, 188, 253);
            border: 3px solid rgb(109, 188, 253); 
            border-radius: 10px;
            margin: 5px;
            transition: background 0.3s ease-in-out;
        }

        & .btn:hover {
            background-color: rgb(220, 238, 253);
        }
    }

    #save-el {
        font-size: 25px;
        width: 75%;
        text-align: center;
    }
}




